////////////////////////////////////////
// background colours
////////////////////////////////////////
$primary-background-color: #7DF7EF;
$secondary-background-color: #1DABA0;


////////////////////////////////////////
// text colours
////////////////////////////////////////
$primary-text-color: #47505A;
$secondary-text-color: #FEFDFB;
$primary-background-text-color: rgba(134, 237, 232, 0.4);
$secondary-background-text-color: rgba(233, 239, 238, 0.6);
