.home_screen{
  // height: 100vh;
  // width: 100vw;
  background: #000000;
  display: none;
  font-family: 'Share Tech Mono', monospace;

  .primary_menu{
    position: fixed;
    top: 0;
    color: #fff;
    width: 100%;
    z-index: 10000;
    .logo{
      font-size: 4em;
      top: 0;
      padding: 0 0.5em;
      font-weight: bold;
      float: left;
    }
    ul{
      list-style: none;
      float: right;
      margin: 1em;
      li{
        display: inline-block;
        padding: 1em;
      }
    }
  }

  .home_screen_contents{
    .main-wrapper {
      width: 100vw;
      height: 100vh;
      overflow: auto;
    }
    .section {
      float: left;
      height: 100vh;
      width: 100vw;
      text-align: center;
      display: flex;
      align-items: center;

      &:first-child {
        background-color: lightblue;
        width: 0;
        @include device('tablet'){
          width: 20vw;
        };
      }

      &:nth-child(2) {
        background-color: lightgreen;
        width: 100vw;
        text-align: center;
        .section_contents{
          width: 100%;
          img{
            width: 20%;
          }
          p{
            font-size: 2em;
          }
        }
        @include device('tablet'){
          width: 80vw;
        };
      }

      &:nth-child(3) {
        background-color: #FFF4B5;
        width: 0;
        @include device('tablet'){
          width: 20vw;
        };
      }

      &:nth-child(4) {
        background-color: lightpink;
        width: 100vw;
        @include device('tablet'){
          width: 80vw;
        };
      }

      &:nth-child(5) {
        background-color: #CFCFFF;
        width: 0;
        @include device('tablet'){
          width: 20vw;
        };
      }

      &:nth-child(6) {
        background-color: #C2E1FF;
        width: 100vw;
        @include device('tablet'){
          width: 80vw;
        };
      }

      &:nth-child(7) {
        background-color: #6DE8E6;
        width: 0;
        @include device('tablet'){
          width: 20vw;
        };
      }

      &:nth-child(8) {
        background-color: #78FFD7;
        width: 100vw;
        @include device('tablet'){
          width: 80vw;
        };
      }


      &:nth-child(9) {
        background-color: #fff;
        width: 0;
        @include device('tablet'){
          width: 20vw;
        };
      }

      &:nth-child(10) {
        background-color: #000000;
        width: 100vw;
        @include device('tablet'){
          width: 80vw;
        };
      }


      &s {
        white-space: nowrap;
        min-width: 100vw;
        height: 100vh;
      }

      &__title {
        width: 100%;
      }

      &__heading {
        width: 100%;
        h1{
          font-size: 3em;
          font-weight: bold;
          text-transform: uppercase;
        }
        p {
          text-transform: uppercase;
          font-size: 2em;
          max-width: 160px;
          margin: 0 auto;
          display: inline-block;
          white-space: normal;
        }
      }
    }
  }
}
