.secondary_menu{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000000;
  display: none;
  .ul--reset {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .vertical-menu {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    // width: 220px;
  }

  .vertical-menu-wrapper {
    max-width: 230px;
    height: 100%;
    margin: 0;
    display: flex;
    position: relative;
  }

  .active-marker {
    transition: transform 0.4s;
    width: 5px;
    background-image: linear-gradient(90deg, #ff5e5e, #f54985);
    background-size: 100%;
    height: 40px;
    margin-top: 1.2em;
    margin-left: 7px;
    transform: translateY(0px);
  }

  .vertical-menu-item {
    font-size: 2em;
    color: #fff;
    transition: all 0.4s;
    padding: 0.5em 0;
    text-align: right;
  }
  .vertical-menu-item.is-active {
    font-size: 2em;
  }

  .link--inverse-menu {
    color: #fff;
    text-decoration: none;
  }
  .link--inverse-menu:visited {
    color: #fff;
  }
  .link--inverse-menu:hover, .link--inverse-menu:active {
    color: #555555;
  }
  @include device('tablet'){
    display: block;
  };
}
